
<footer class="footer">
  <% const d = new Date()
  let year = d.getFullYear() %>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
  <a href="/trigger-error">Trigger 500 Error</a> <!-- Link to trigger an error -->
</footer>